$gutter: 8px;

$white: theme('colors.white');
$primary: theme('colors.primary');
$secondary: theme('colors.secondary');
$success: theme('colors.success');
$warning: theme('colors.warning');
$info: theme('colors.info');
$error: theme('colors.error');
$title: theme('colors.gray.700');
$track: theme('colors.track');
$hint: theme('colors.hint');
